name: Test

on:
  - push
  - pull_request

jobs:
  build-website:
    name: Build Website
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: yarn install

      - name: Check HTML
        uses: chabad360/htmlproofer@master
        with:
          directory: "./"
          arguments: "--only-4xx --ignore-files './node_modules/'"
